<div id="choose">
<h1>Forgot your password?</h1>
<h2>Enter your email in the input below</h2>
<p>We will send you an email to modify your password</p>
<input type="email" id="email" placeholder="johndoe@johndoe.com">
<input type="button" id="submit" value="submit">
</div>

<div id="sent">
<h1>Mail sent!</h1>
<h2>Enter the code sent to:<span></span> in the following input</h2>
<input type="number" id="code" placeholder="123456">
<input type="button" id="submit" value="submit">
</div>

<script src="/scripts/forgotPassword.js"></script>