
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
      <p id="email_error">Invalid email</p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <p id="password_error">Invalid password</p>
      <p id="register">Don´t have an account? <a href="/register">Register</a></p>

      <a id="github" href="/api/sessions/github">Login with github</a>
      <button id="submit">Submit</button>
    </form>

    <script src="/scripts/login.js"></script>