<h1>Modify password</h1>
<h2>Type in your new password</h2>
<input type="password" id="password">
<input type="submit" id="submit" value="submit"></input>
<script>
    const email = "{{email}}"
</script>
<script src="/scripts/modifyPassword.js"></script>