<form>
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name" />
  <p id="first_name_error">The first name must have at least 8 characters
    (letters,numbers and underscores)</p>
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name" />
  <label for="email">Email</label>
  <input type="email" id="email" name="email" />
  <p id="email_error">Invalid email</p>
  <label for="age">Age</label>
  <input type="text" id="age" name="age" />
  <p id="age_error">Invalid age</p>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" />
  <p id="password_error">The password must have at least 8 characters</p>
  <p id="login">Already have an account? <a href="/login">Login</a></p>
  <button id="submit">Submit</button>
</form>

<script src="/scripts/register.js"></script>