main{
    margin-left: 0.5vw;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
input{
    width: 30vw;
    font-size: 1.5rem;
}
#submit{
    display: block;
    background-color: black;
    color: white;
}