*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#products{
    display: flex;
    justify-content: space-around;
}
.product{
   width: 20vw;
   height: 60vh;
   border:2px solid rgba(0,0,0,0.5);
   padding: 1vw;
   cursor: pointer;
}
.product .header{
    color: grey;
}
.product h2{
    font-size:2.5vw;
    height: 15vh;
}
.product h3{
    color: lightgreen;
}
.product h3::before{
    content: "$";
    color: green;
}