form{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}
form label::after{
    content:":";
}
form input, form button{
    font-size: 1.5vw;
    width: 30vw;
}
form button{
    cursor: pointer;
}
form p{
    display: none;
    color: red;
}
form #register{
    color:black;
    display: unset;
}

#github{
    width: 25vw;
    height: 10vh;
    background-color: rgb(16, 18, 18);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin:5vh 0px;
}