main{
    padding-left: 2vw;
}

label{
    display: block;
    font-size: 2vw;
}
input{
    width: 30vw;
    font-size: 2vw;
}
input[type="button"]{
    margin-top: 5vh;
    width: 30vw;
    display: block;
    font-size: 3vw;
    height: 10vh;
}